name: CI

on:
  push:
    branches:
      - "*"
    tags:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  test:
    runs-on: windows-2022
    if: ${{ !startsWith(github.ref, 'refs/tags/vs2022-v') && !startsWith(github.ref, 'refs/tags/v') }}
    steps:
      - uses: actions/checkout@v3
      - working-directory: WinUI3XamlPreview
        run: ./scripts/ci
  no-build-test:
    runs-on: windows-2022
    if: ${{ startsWith(github.ref, 'refs/tags/v') && !startsWith(github.ref, 'refs/tags/vs2022-v') }}
    steps:
      - uses: actions/checkout@v3
      - working-directory: WinUI3XamlPreview
        run: ./scripts/format -check
  build:
    runs-on: windows-2022
    needs: ["no-build-test"]
    if: ${{ startsWith(github.ref, 'refs/tags/v') && !startsWith(github.ref, 'refs/tags/vs2022-v') }}
    env:
      VERSION: 0.8.0
      NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
    steps:
      - uses: actions/checkout@v3
      - working-directory: WinUI3XamlPreview
        run: |
          ./scripts/build-nuget -version $env:VERSION
          ./scripts/publish-nuget -version $env:VERSION
  build-extension:
    runs-on: windows-2022
    if: startsWith(github.ref, 'refs/tags/vs2022-v')
    steps:
      - uses: actions/checkout@v3
      - uses: microsoft/setup-msbuild@v1.1
      - working-directory: "extensions\\WinUI3XamlPreviewVS2022"
        run: ./scripts/build-extension -config Release
      - uses: cezarypiatek/VsixPublisherAction@0.2
        with:
          extension-file: './extensions/WinUI3XamlPreviewVS2022/WinUI3XamlPreviewVS2022/bin/Release/net480/WinUI3XamlPreviewVS2022.vsix'
          publish-manifest-file: './extensions/WinUI3XamlPreviewVS2022/vs-publish.json'
          personal-access-code: ${{ secrets.VS_MARKETPLACE_API_KEY }}